<div id="status" class="status-box">
  <div class="sub-status">
    <h3>Progress</h3>
    <div>print percent: {{ .PrintPercent }}:</div>
    <div>remaining time: {{ .RemainingTime}}:</div>
  </div>
  <div class="sub-status">
    <h3>Temps</h3>
    <div>nozzle temp: {{ .NozzleTemp }}</div>
    <div>nozzle target temp: {{ .NozzleTargetTemp }}</div>
    <div>bed temp: {{ .BedTemp}}</div>
    <div>bed target temp: {{ .BedTargetTemp}}</div>
    <div>chamber temp: {{ .ChamberTemp}}</div>
  </div>
</div>
